[user]
  name = Jacob Brouwer
[color]
  ui = auto
[alias]
  branchpurge = ! git fetch --all --prune && git branch -vv | grep \": gone]\" | awk '{ print $1 }' | xargs -n 1 git branch -D && git branch
  catchup = ! git fetch --prune && git pull --no-edit origin $(git defaultname)
  catchuppull = ! git fetch --prune && git pull --no-edit origin $(git defaultname)
  catchuprebase = ! git fetch --prune && git pull --rebase=preserve --no-edit origin $(git defaultname)
  currentname = ! git rev-parse --abbrev-ref HEAD 2> /dev/null | grep -v HEAD | sed 's/^/b\\//' || git describe --exact-match --all 2> /dev/null | sed 's/tags/t/' || git rev-parse HEAD
  default = ! git checkout $(git defaultname) && git pull
  defaultname = ! git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  delete = ! "f() { git branch -d \"$1\" && git push --delete origin \"$1\"; }; f"
  deleteforce = ! "f() { git branch -D \"$1\" && git push --delete origin \"$1\"; }; f"
  done = ! ~/.gitall.sh
  forcecatchup = ! git checkout -f && git clean -fd && git catchup
  repo = ! basename -s .git $(git config --get remote.origin.url)
[push]
  default = upstream
[init]
  defaultBranch = main
  #templatedir = /home/jabrouwer/personal/configurations/git-templates
[core]
  whitespace = trailing-space,space-before-tab,tab-in-indent,cr-at-eol
  excludesfile = /Users/b232255/.gitignore
[help]
  autocorrect = 30
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential]
  helper = store
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  line-numbers = true
  syntax-theme = jacob
  navigate = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
[diff]
  colorMoved = default
[includeIf "hasconfig:remote.*.url:git@*.capitalone.com:*/**"]
  path = ~/.c1gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.personalgitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.personalgitconfig
