[Unit]
Description=Updates and upgrades vim plug / plugins monthly.

[Timer]
# Run at 9am on the first day of every month.
OnCalendar=*-*-01 9:00:00
Persistent=true

[Install]
WantedBy=timers.target
